@font-face {
  font-family: regular;
  src: url(/Geist-Regular.otf) format(truetype);
}

@font-face {
  font-family: bla;
  src: url(/GermaniaOne-Regular.ttf) format(truetype);
}

@font-face {
  font-family: mono;
  src: url(/GeistMono-Regular.otf) format(truetype);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: regular;
  height: 100vh;
  width: 100vw;
}

html,
body {
  @apply bg-zinc-700 text-zinc-200;
}

.regular {
  font-family: regular;
}

.mono {
  font-family: mono;
}

.serif {
  font-family: bla;
}

.link {
  @apply hover:underline hover:text-emerald-400 duration-150 ease-out;
}
