@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: regular;
  src: url(/Geist-Regular.otf) format('truetype');
}

@font-face {
  font-family: mono;
  src: url(/GeistMono-Regular.otf) format('truetype');
}

@font-face {
  font-family: bla;
  src: url(/GermaniaOne-Regular.ttf) format(truetype);
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: regular;
  height: 100%;
}

.mono {
  font-family: mono;
}

.serif {
  font-family: bla;
}

.link {
  @apply hover:underline hover:text-emerald-400 duration-150 ease-out;
}

/* TODO: get rid of redundant classes */

h1 {
  @apply text-6xl;
}

h2 {
  @apply text-4xl serif;
}

h3 {
  @apply text-2xl serif pt-3;
}

h4 {
  @apply text-xl;
}

#markdown {
  p {
    @apply text-purple-100/80 mb-4;
  }

  blockquote > p {
    @apply border-purple-800 border-l-4 bg-purple-950 p-2 pl-4 flex justify-center italic;
  }

  a {
    @apply text-emerald-400 underline serif;
  }
}
